<!--Purchase Order Form-->
<div class="span3">
  instructions
  </div>
  <div class="span9">
    <form class="form-vertical purchase_order_form">

      <div class="controls clearfix">
        <div class="pull-left">
              <label>Order Date:</label>
              <div class="controls">
                <input class="input-xlarge ax_date" format="dd-mm-yyyy" type="text" id="orderDate" placeholder="" class='input-xlarge' ng-model="newPurchaseOrder.order_date">
              </div>
          </div>
            <!-- check to see if user role allows him/her to approve -->
              <div class="pull-right">
                <label style="display:inline; margin-right: 10px">Approve Purchase Order? </label>
                <input type="checkbox" ng-model='newPurchaseOrder.approved' ng-true-value="1" ng-false-value="0">
              </div>
      </div >
      <div class="clearfix">
          <div class="pull-left ">
              <label>Product:</label>
              <div class="">
                <!-- <select class="input-xlarge" ng-model="newOrderItem.product" ng-options='product as product.name for product in products'></select>  -->
                <ax-chosen watch="products" ng-model="productIdx">
                  <select class="input-xlarge chzn-select" 
                    data-placeholder="Choose a Product"  
                    ng-model="newOrderItem.product" 
                    ng-options='product as product.name for product in products'>
                  </select> 
                </ax-chosen>
              </div>
            </div>
            <div class="pull-left quantity_item">
                <label >Quantity:</label>
                <div class="">
                   <input type="number"  min="1" class='input-mini' ng-model="newOrderItem.quantity" ng-init="newOrderItem.quantity=1">  
                </div>
            </div>
            <div class="pull-right break_down_btn">
                <a href="" class="btn" ng-click="addProductToList(newOrderItem)">Add Product</a>
              </div>
      </div>

      <div class="controls my_clear">
        <legend> Order Items </legend>
      </div>

      <div class="order_items">
         <table class='table table-striped table-bordered order_items_table ax-table'>
            <thead>
              <tr>
                <th class="ax-grid-action-1">#</th>
                <th>Product</th>
                <th class="ax_grid_action5">Quantity</th>
                <th class="ax-grid-action-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat=" orderItem in orderItems ">
                <th> {{ $index + 1 }}</th>
                <td> {{ orderItem.product }}</td>
                <td> {{ orderItem.quantity }}</td>
                <td> 
                  <a href="" ng-click="lessenProdcut($index)"> <i class=" icon-minus"></i> </a>
                  <a href="" ng-click="removeProduct($index)"> <i class="icon-remove"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  
      <input type="hidden" ng-model="newPurchaseOrder.id">
    </form>
</div>