<div class="page-top clearfix">
	<h1 class="pull-left"> 
			<%= render "icon" %>
			Purchase Orders</h1>
	<a class='pull-right btn' href="#/purchase_orders/new"> 
		 Add New</a>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Order Date</th>
			<th>Order Number</th>
			<th># Unique Products </th>
			<th>Order By</th>
			<th>Closed?</th>
			<th>Approved By</th>
			<th class="ax-grid-action-3"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="purchaseOrder in purchaseOrders">
			<td> {{ $index + 1 }}. </td>
			<td> {{ purchaseOrder.order_date | date:'medium' }} </td>
			<td> {{ purchaseOrder.order_id }} </td>
			<td> {{ purchaseOrder.purchase_order_items.length}} </td>
			<td> {{ purchaseOrder.created_by.full_name }} </td>
			<td>  
				<span class="badge {{ isClosed(!purchaseOrder.opened) }}"> 
					{{  }}
				</span>  </td>
			<td></td>
			<td>
				<a href="" > <i class="icon icon-pencil"></i> </a>
				<a href=""> <i class="icon-eye-open"></i> </a>
				<a href="" ng-click="destroy(purchaseOrder, $index)"> <i class="icon icon-trash"></i></a>
			</td>
		 </tr>
	</tbody>
</table>