<div class="page-top clearfix">
	<h1 class="pull-left">
		<%= render "icon" %> 
		<span class="muted">Purchase Orders/</span> New
	</h1>
	<div class="pull-right">
		<a href="#purchase_orders" class='btn'>Back</a>
		<a class='btn btn-success' href="" ng-click="save()">Save</a>
	</div>
</div>

<div class="row-fluid">
	<%= render "form" %>
</div>

<div class="row-fluid">
	<div class="form-footer">
    <button class="btn btn-success" ng-click="save()"> Save</button>
  
    <button class="btn pull-left">Cancel</button>
  </div>
</div>