<div ng-controller="LookUpController" class="modal  fade" id="generic_lookup_container" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3> Add New {{ current_lookup.name }} </h3>
    </div>
    <div class="modal-body">
        <input type="hidden" ng-model="current_lookup.model">
        <div ng-include="current_lookup.url"></div>
    </div>
    <div class="modal-footer">
        <span class="pull-left" ng-show="saving_lookup">  
            <img src="assets/icons/gif-load.gif"> 
        </span>
        <a class="btn" data-dismiss="modal"> Close </a>
        <a class="btn btn-success" ng-click="save()"> Save</a>
    </div>
  </div>  