<div class="modal hide fade" id="print_dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3> Print Dialog </h3>
    </div>
    <div class="modal-body">
     <iframe 
     frameborder="0"
     marginwidth="0"
     marginheight="0"
     scrolling ="yes"
     
     hspace="0"
     vspave="0"
     src="/print/record/#/{{currentPrintUrl}}" width="560px"></iframe>
    </div>
    <div class="modal-footer">
    </div>
  </div>  