<div class="sidebar-nav">
	<!-- <div class="side-header"> -->
		<!-- <ul class="nav nav-list">
			<li class="nav-header"> Quick Search </li>
			<li class="divider"></li>
		</ul> -->
		<!-- <ul class="nav nav-list">
			<li> 
				<form class="form-search">
				  <input type="text" class="input-medium search-query">
				  <button type="submit" class="btn"> <i class="icon-search"></i> </button>
				</form>
			</li>
		</ul>
	</div> -->
	<div class="top-half side-header">
		<ul class="nav nav-list">
			<li class="nav-header"> Application </li>
			<li class="divider"></li>
		</ul>
		<ul class="nav nav-list" ng-repeat="nav in childNavs">
			<li class="{{nav.class}}"> <a href="{{nav.link}}"> <i class="ax-icon {{nav.icon_class}}"></i> {{ nav.text }} </a> </li>
		</ul>
	</div>
	<div class="bottom-half side-header">
		<ul class="nav nav-list">
			<li class="nav-header"> Recent Operations </li>
			<li class="divider"></li>
		</ul>
		<ul class="nav nav-list" ng-repeat="operation in recentOperations">
			<li class="clearfix item">
				<span class="pull-left"> {{ operation.type }} : </span> 
				<span class="pull-right"> <a  href="{{ operation.url}}"> {{ operation.name }}  </a>  </span>
			</li>
			<li class="divider"></li>
		</ul>
	</div>
</div>

