<h2>Forums <a href="#forum/new" class='btn btn-primary pull-right'>New</a> </h2>
<div ng-show="items.length == 0">
	<hr>
	<h4>There is nothing here...</h4>
	<p>Use the "New" button to create a new forum! </p>
</div>

<table class='table table-hover'>
	<tr ng-repeat="item in items">
		<td width="100%"> <a href="#forum/{{item.id}}"> {{ item.name }} </a> </td>
		<td> <a href="" ng-click="destroy($index)"> <i class="icon-trash"></i> </a> </td>
	</tr>
</table>