<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		<span class="muted">User/</span> Edit (Roles) - {{ user.full_name }}
	</h1>
	<div class="pull-right">
		<a href="#/users" class='btn'>List</a>
		<a class='btn btn-success' href="" ng-click="save()">Save</a>
	</div>
</div>

<div class="row-fluid">
	<h3>Roles</h3>
	<table class="ax-table table table-striped table-bordered">
		<tbody>
			<tr ng-repeat="role in allRoles">
				<td class="ax-grid-action-1"> {{ $index + 1}}. </td>
				<td> {{ role.name }} </td>
				<td class="ax-grid-action-1"> 
					<input type="checkbox" ng-checked="role.checked" ng-model="role.checked" ng-click="toggleChecked(role)"> 
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row-fluid ">
	<div class="form-footer clearfix">
		<button class="btn pull-left">
        Cancel</button>
      <button href="" class="btn btn-success" ng-click="save()">Save</button>
      
    </div>
</div>