<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		Users</h1>
	<% if can? :create, User %>
		<a class='pull-right btn' href="#/users/new">
			<i class="icon icon-plus"></i> Add New	
		</a>
	<% end %>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class="ax-grid-action-1"></th>
			<th>Full Name </th>
			<th> User Name</th>
			<th>Email</th>
			<th>Role</th>
			<th class="ax-grid-action-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td> {{ $index + 1 }}. </td>
			<td> {{ user.full_name }} </td>
			<td> {{ user.user_name }} </td>
			<td> {{ user.email}}</td>
			<td> {{ rolesToString(user.roles_users) }} </td>
			<td> 
				<a href="#/users/{{user.id}}/edit"> <i class="icon-pencil"></i> </a>
				<a href="" ng-click="destroyUser(user)"> <i class="icon-trash"></i> </a>
			</td>
		</tr>
	</tbody>
</table>