<div class="span3">
	Instructions
</div>
<div class="span9 purchase_form">
	<form class="form-vertical">
      <div class="controls clear">
        <div class="pull-left plus10">
          <label>Purchase Date:</label>
          <div class="controls">
            <input class="input-large ax_date" format="dd-mm-yyyy" type="text" id="purhcase_date" placeholder="" class='input-xlarge' ng-model="newPurchase.purhcase_date">
          </div>
        </div>
        <div class="pull-left">
          <label>Purchase Order:</label>
          <div class="controls">
            <select 
            ng-change = "loadOrderItems()"
            ng-model="dataIn.purchaseOrder"
            ng-options="purchaseOrder as purchaseOrder.order_id for purchaseOrder in purchaseOrders "></select>
          </div>
        </div>
      </div>
     
      <div class="controls my_clear">
        <legend> Purchase Items </legend>
      </div>

      <div class="order_items">
         <table class='table table-striped table-bordered order_items_table ax-table'>
            <thead>
              <tr>
                <th class="ax-grid-action-1">#</th>
                <th>Product</th>
                <th class="ax_grid_action5">Quantity</th>
                <th class="ax_grid_action5">Unit Cost (Ghc) </th>
                <th class=""> Total Cost (Ghc)</th>
                <th class="ax_grid_action1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat=" purchaseItem in purchaseItems ">
                <th> {{ $index + 1 }}</th>
                <td> {{ purchaseItem.product }}</td>
                <td> 
                  <input type ="number" min="0" class="input-small" ng-model="purchaseItem.quantity">
                </td>
                <td> 
                  <input type='number' min='0' class='input-small' ng-model="purchaseItem.unit_cost"> 
                </td>
                <td>
                    <input type='number' min='0' class='input-small' ng-model="purchaseItem.total_cost"> 
                </td>
                <td>
                    
                  <a href="" ng-click="removeProduct($index)"> <i class="icon-remove"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      
      <input type="hidden" ng-model="newPurchase.id">
    </form>
</div>