<div class="page-top clearfix">
	<h1 class="pull-left"> <%= render "icon" %> Purchases </h1>
	<a class='pull-right btn' href="#/purchases/new">
			Add New</a>
</div>
<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Purchase Date</th>
			<th>Purchase Number</th>
			<th>Number Of Items</th>
			<th>Total Cost</th>
			<th>Purchased By</th>
			<th>Received By</th>
			<th clas="ax-grid-action-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="purchase in purchases">
			<td> {{ $index + 1}}.</td>
			<td> {{ purchase.created_at | date:'medium'}}</td>
			<td> {{ purchase.purchase_id }} </td>
			<td> {{ purchase.purchase_items.length }}</td>
			<td> {{ totalCost(purchase.purchase_items) }} </td>
			<td> {{ purchase.purchase_by.full_name}} </td>
			<td> {{ purchase.received_by.full_name}} </td>
			<td>
				<a href="#/purchases/{{purchase.id}}/show"> <i class="icon-eye-open"></i></a>
				<a href="" ng-click="print(purchase.id)"> <i class="icon-print"></i> </a>
			</td>
		</tr>
	</tbody>
</table>
