<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		<span class="muted">Purchases/</span> New
	</h1>
	<div class="pull-right">
		<a href="#/purchases" class='btn'>Back</a>
		<a class='btn btn-success' href="" ng-click="save()">Save</a>
	</div>
</div>
<div class="row-fluid">
	<%= render "form" %>
</div>

<div class="row-fluid">
	<div class="form-footer clearfix">
	    <button class="btn pull-left">Cancel</button>
	    <button class="btn btn-success" ng-click="save()"> Save</button>
	    
	  </div>
</div>