<div>
	<div class="page-top clearfix">
		<h1 class="pull-left"> 
			<%= render "purchases/icon" %>
			<span class="muted">Purchases/</span> {{purchase.purchase_id}}
		</h1>
		<div class="pull-right">
			<a href="#/purchases/" class='btn'>  List</a>
			<a href="#/purchases/{{purchase.id}}/edit" class='btn'> <i class="icon icon-pencil"></i> Edit</a>
		</div>
	</div>
	<div class="row-fluid print-block">
		<div class="span12">
			<a href="" ng-click="print(purchase.id)" class="pull-right"> 
				<i class="icon icon-print"></i></a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				<h4>Details</h4>

			<table class="table table-bordered ax_table">
				<tbody>
					<tr>
						<td> purchase Date </td>
						<td> {{ purchase.created_at |date:'medium'}} </td>
					</tr>
					<tr>
						<td> Purchase Number</td>
						<td> {{ purchase.purchase_id }} </td>
					</tr>
					<tr>
						<td> Purchased By </td>
						<td> {{ purchase.purchase_by.full_name }} </td>
					</tr>
					<tr>
						<td> Number of Items </td>
						<td> {{ purchase.purchase_items.length }} </td>
					</tr>
					<tr>
						<td> Total Amount </td>
						<td> {{ totalCost(purchase.purchase_items) }} </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6">
			<h4 class="muted">Purchase Items</h4>
			<table class="table table-bordered table-striped ax-table">
				<thead>
					<tr>
						<th></th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Unit cost </th>
						<th>Total cost </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in purchase.purchase_items">
						<td> {{ $index + 1 }}. </td>
						<td> {{ item.product.name }} </td>
						<td> {{ item.quantity }} </td>
						<td> {{ item.unit_cost | currency }} </td>
						<td> {{ item.total_cost | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>