<div class="page-top clearfix">
	<h1 class="pull-left">
		<i class="ax-caption-icon home"></i>
		Welcome
	</h1>
</div>
<div class="span12">
	<div class="span6">
		<ax-basic-chart type="column" 
			y-axis-title="Amount generated($)"
			cid="salesAmountChart" 
			ng-model="totalAmount"
			>
		</ax-basic-chart>
	</div>
	<div class="span6">
		<ax-basic-chart type="bar" 
				y-axis-title="Number of items sold"
				cid="salesCountChart" 
				ng-model="salesCount">
			</ax-basic-chart>
	</div>
</div>
<br/><br/>
<div class="span12">
	<div class="span6">
		<h4 class="muted">Most Popular Products</h4>
		<table class="table table-bordered table-striped ax-table">
			<thead>
				<tr>
					<th>Product </th>
					<th> Quantity</th>
				</tr>
			</thead>
			<tbody>
					<tr ng-repeat="product in mostPopularProducts">
						<td> {{ product.product_name }} </td>
						<td> {{ product.quantity }} </td>
					</tr>
			</tbody>
		</table>
	</div>
</div>