<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		Permissions</h1>
</div>
<div class="permissions-filter clearfix">
	<div class="pull-left">
		<label>Role: </label>
		<ax-select ng-model="currentRole" watch="roles" prop="id">
			<select 
				ng-model="currentRole"
				class="input-xlarge"
				ng-options="role.id as role.name for role in roles">
			</select>
		</ax-select>
		
	</div>
	<div class="pull-left">
		<label>Filter: </label>
		<input type="text" class="input-xlarge" ng-model="filteredRole">	
	</div>
	<div class="pull-left">
		<button ng-click="save()" class="btn btn-success"> Save  </button>
	</div>
</div>
<ul class="permissions" ng-repeat="permission in filtered = (groupedPermissions | filter:filteredRole )">
	<li> 
		<div class="caption"> {{ permission.name}}  </div>
		<table class="table table-striped table-bordered">
			<tbody>
				<tr ng-repeat="action in permission.actions">
					<td class='ax-grid-action-1'> {{ $index + 1}}.</td>
					<td> {{ action.action }} </td>
					<td class='ax-grid-action-1'> 
						<input type="checkbox" 
							ng-checked="action.checked" 
							ng-model="action.checked"
							ng-click="toggleChecked(action)"
							> 
					</td>
				</tr>
			</tbody>
		</table>
	</li>
</ul>