 <form 
 class="form-vertical product_category_form" ng-submit="save">
  <div class="control-group">
    <label class="control-label" for="name">Name:</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Name" class='long' ng-model="lookup.name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description:</label>
    <div class="controls">
      <input type="text" id="description" placeholder="Description" class='long' ng-model="lookup.description">
    </div>
  </div>
  <input type="hidden" ng-model="lookup.id">
  </form>