<div class="page-top clearfix">
	<h1 class="pull-left">
		<%= render "icon" %>
		Product Categories </h1>
	<a class='pull-right btn' href="#/product_categories/new">
		<i class="icon icon-plus"></i> Add New
	</a>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Name</th>
			<th>Description</th>
			<th class="ax-grid-action-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="productCategory in productCategories">
			<td> {{ $index + 1 }}.</td>
			<td> {{ productCategory.name }} </td>
			<td> {{ productCategory.description }} </td>
			<td>
				<a href="#/product_categories/{{productCategory.id}}/edit"> <i class="icon icon-pencil"></i></a>
				<a href="" ng-click="destroy()"> <i class="icon icon-trash"></i></a>
			</td>
		</tr>
	</tbody>
</table>
