	
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true , :class => "input-xlarge" %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password ,:class => "input-xlarge" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="">
    	 <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    	
    </div>
  <% end -%>
  <div class=""><%= f.submit "Sign in" , class: "btn btn-large btn-info btn-block"%></div>
  
<% end %>

<%= render "devise/shared/links" %>
