<div class="span3">
    some instruction goes here
  </div>
  <div class="span9">
  <form class="form-vertical role_form" ng-submit="save">
    <div class="control-group">
      <label class="control-label" for="name">Name:</label>
      <div class="controls">
        <input type="text" id="name" placeholder="Name" class='input-xxlarge' ng-model="newRole.name">
      </div>
    </div>
    <input type="hidden" ng-model="newRole.id">
  </form>
</div>