<div class="page-top clearfix">
	<h1 class="pull-left">
		<%= render "icon" %>
		Roles </h1>
		<% if can? :create, Role %>
			<a class='pull-right btn' href="#/roles/new">
				<i class="icon icon-plus"></i> Add New
			</a>
		<% end %>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Name</th>
			<th class="ax-grid-action-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="role in roles">
			<td> {{ $index + 1 }}.</td>
			<td> {{ role.name }} </td>
			<td>
				<a href="#/roles/{{role.id}}/edit"> <i class="icon icon-pencil"></i></a>
				<a href="" ng-click="destroy()"> <i class="icon icon-trash"></i></a>
			</td>
		</tr>
	</tbody>
</table>
