body {
    padding-top: 40px;
    padding-bottom: 40px;
    /*font-family: "ProximaNovaThin","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}



@media (min-width: 768px) and (max-width: 979px) {
	.page {
		.span9 {
			// width: 70.3% !important;
		}
	}	
}

@media(max-width:767px){

}

@media (min-width: 1200px) {

}


@media (min-width: 270px){
	.page {
		.side-container {
			width: 300px !important;
		}
	}	
}

@media (min-width: 1200px) {
	.page {
		.span9 {
			// width: 82.5% !important;
		}
	}	
}


$side-height: 50%;
$general-font-size: 14px;
$side-bar-font-size: 13px;
.sidebar-nav {
	padding: 9px 0 !important;
	position: fixed;
	width: 270px;
	left: 0px;
	height: 100%;
	background: #f2f7fa;
	border-right: 1px solid #D9DEE1;
	font-size: $side-bar-font-size;

	a{
		font-size: $side-bar-font-size;
	}

	.side-header .nav-header {
		margin-left: 0px;
		color: #6C829B;
	}

	.top-half {
		/*height: $side-height;*/

		margin-bottom: 70px;
	}

	@mixin sidebar_ul {
		padding-left: 0px;
		padding-right: 0px;
	}

	@mixin sidebar_links {
		padding-left: 15px;
		padding-right: 15px;
	}

	.top-half .nav-list {
		@include sidebar_ul;
		.divider {
			margin-bottom: 0px;
			margin-top: 0px;
		}
		
		li {
			@include sidebar_links;			
			a {
				color : #575757;
			}

			a:hover{
				background: #D7D7D7;
				color : black;
			}
		}

		.active_link {
			background: #AAA;
			margin-right: -1px;
			a {
				color : black;
				font-weight: bold;
			}
		}
	}

	.bottom-half .nav-list{
		height: $side-height;
		
		@include sidebar_ul;
		
		li {
			@include sidebar_links;
			margin-top: 3px;
			margin-bottom: 3px;
		}

		li.item {
			margin-left: 5px;
		}
	}
	
	

	.ax-icon {
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		display: inline-block;
		margin: 5px 5px -3px 0px;
		vertical-align: text-bottom;
	}

	.home {
		background: url(icons/home-icon.png);
	}

	.reports {
		background: url(icons/reports2-icon.png);
	}

	.purchase_orders{
		background: url(icons/basket-empty-icon.png);
	}

	.purchases{
		background: url(icons/basket-full-icon.png);
	}

	.sales{
		background: url(icons/shopping-bag-icon.png);
	}

	.users{
		background: url(icons/users-icon.png);
	}

	.roles{
		background: url(icons/roles1-icon.png);
	}
	
	.products{
		background: url(icons/products-icon.png);
	}

	.categories{
		background: url(icons/categories-icon.png);
	}

	.permissions{
		background: url(icons/permissions-icon.png);
	}
}

.navbar .brand {
	width: 230px;
}

.main {
	margin-left: 0px !important;
	.notification-box {
		margin-top: -3px;
	}

	.ax-caption-icon {
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
	}


	.ax-caption-icon.home {
		background: url(icons/home-cap-icon.png);
	}

	.ax-caption-icon.reports {
		background: url(icons/reports2-cap-icon.png);
	}

	.ax-caption-icon.purchases {
		background: url("icons/basket-full-cap-icon.png");
	}

	.ax-caption-icon.purchase_orders {
		background: url("icons/basket-empty-cap-icon.png");
	}

	.ax-caption-icon.sales {
		background: url("icons/shopping-bag-cap-icon.png")
	}

	.ax-caption-icon.users {
		background: url("icons/users-cap-icon.png")
	}

	.ax-caption-icon.roles {
		background: url("icons/roles1-cap-icon.png")
	}

	.ax-caption-icon.products {
		background: url("icons/products-cap-icon.png")
	}

	.ax-caption-icon.categories {
		background: url("icons/categories-cap-icon.png")
	}

	.ax-caption-icon.permissions {
		background: url("icons/permissions-cap-icon.png")
	}

}

.page-top {
	border-bottom: 1px solid #EEE;
	margin: 10px 0px;
	h1 {
		font-size: 25px;
		line-height: 15px;
		font-weight: normal;
	}

	.btn {
		margin-top: 12px;
	}
}



table {
	$action-width:16px;
	.ax-grid-action-1 {
		width : $action-width;
	}	

	.ax-grid-action-2 {
		width : $action-width * 2;
	}

	.ax-grid-action-3 {
		width : $action-width * 3;
	}

}

.ax-table  {
	thead {
		margin: 0;
		line-height: 19px;
		background-color: #E7E7E7;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(0.75,#E0E0E0),color-stop(1,#F0F0F0));
		background-image: -webkit-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -moz-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -ms-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -o-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e0e0e0');
		border-top: 1px solid white;
		border-bottom: 1px solid #B7B7B7;
		color: #504F4F;
		text-shadow: white 0 1px 0;
		text-align: left;
		font-weight: bold;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-background-clip: padding-box;
		border-top: 1px solid #D0D0D0;
	}

	th {
		line-height: 13px !important;
	}

	th, td{
		font-size: 12px;
		line-height: 13px !important;
	}

	td {
		padding:6px !important;
	}
}

form {
	.plus10 {
		margin-right: 10px;
	}

	.long {
	  width: 97%;
	}
}

.form-footer {
	padding: 14px 0px 0px;
	margin-bottom: 0;
	text-align: right;
	border-top: 1px solid #DDD;
}

.input-append .add-on, .input-prepend .add-on {
	padding: 3px 5px !important;
}

.input-append .btn, .input-prepend .btn {
	padding: 3px 12px ;
}

.input-prepend .select2-container .select2-choice span {
	font-size: $general-font-size;	
}
.input-prepend .select2-container .select2-choice {
	border-radius: 0px 4px 4px 0px;
	moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
} 

.custom-table{
	.header {
		margin: 0;
		line-height: 19px;
		background-color: #E7E7E7;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(0.75,#E0E0E0),color-stop(1,#F0F0F0));
		background-image: -webkit-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -moz-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -ms-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: -o-linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		background-image: linear-gradient(top,white,#E0E0E0 75%,#F0F0F0);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e0e0e0');
		border-top: 1px solid white;
		border-bottom: 1px solid #B7B7B7;
		color: #504F4F;
		text-shadow: white 0 1px 0;
		text-align: left;
		font-weight: bold;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-background-clip: padding-box;
		border-top: 1px solid #D0D0D0;

		.col {
			display: inline
		}

		.action-col-1{
			width: 16px;
			display: inline;
		}
	}



	.body {

	}
}

.widget-box {
	border: 1px solid #dedede;
	margin-bottom: 30px;

	.header, .widgetbox_header {
		/*height: 25px;
		background: #ededed;
		border-bottom: 1px solid #dedede;
		font-weight: bold;
		padding: 2px;
		padding-left: 10px;*/


		/*height: 25px;*/
		border-bottom: 1px solid #dedede;
		margin-bottom: -1px;
		padding: 5px 3px;
		padding-left: 10px;
		background-color: #FAFAFA;
		background-image: -moz-linear-gradient(top, #FAFAFA, #ededed);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#ededed));
		background-image: -webkit-linear-gradient(top, #FAFAFA, #ededed);
		background-image: -o-linear-gradient(top, #FAFAFA, #ededed);
		background-image: linear-gradient(to bottom, #FAFAFA, #ededed);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 2px 2px 0px 0px;
		-moz-border-radius: 2px 2px 0px 0px;
		border-radius: 2px 2px 0px 0px;
		overflow: hidden;

		.break {
			border-left: 1px solid #FCFCFC;
			border-right: 1px solid #DDD;
			margin: -12px 10px -10px 10px;
			padding: 12px 0px 10px 0px;
		}
		.icon_box {
			margin-right: 10px;
			margin-top: 2px;
		}

		.title {
			font-weight: bold;
			font-size: $general-font-size - 1;
		}
	}

	.body, .widgetbox_body {
		// padding: 5px;
	}
}

.tabbable .tab_headers {
	background: #E6E6E6;
	a {
		color: #3d3d3d;
	}
}


.ax-dialog {
	.form-actions {
		text-align: center;
	}
}

.ax-loader {
  margin-top: 8px;
  display: inline-block;
  margin-left: 10px;
  .img {
    width: 24px;
    height: 16px;
    margin-top: 2px;
    background: url('/assets/icons/AjaxLoader-16.gif');
    background-repeat: no-repeat;
  }
}

