// Place all the styles related to the permissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.permissions-filter {
	padding-left: 25px;
	margin-bottom : 10px;

	.pull-left {

		margin-right: 30px;

		label {
			display: inline;
			padding-right: 10px;
			font-weight: bold;
		}	
	}

}

.permissions{
		.caption	{
			font-size : 16px;
			padding-bottom: 5px;
			font-weight: bold	;
		}
		li {
			list-style: none;
		}

}