// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_form  {

	.product_code{
		margin-right: 4px;
	}
}

