// Place all the styles related to the purchase_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purchase_order_form, .purchase_form{
	.quantity_item {
	    margin-left: 35px;
	}	

	.break_down_btn {
	    margin-top: 25px;
	 }

	 .order_items_table {
	    font-size: 13px;
	}

	.order_items_table tbody {
	    height: 200px;
	    overflow: auto;
	}
} 

.sales_grid{
    width : 620px;
    margin: -256px 0 0 -310px;
}






.purchase_order_twin_grids, .new_purchase_items_twin_grids, .twin_grids{
    border: 1px solid #dcdcdc;
    position: relative;
    left: 0.2% ; /*for some reason this fixes a bug*/
}

.new_purchase_items_twin_grids{
    padding: 7px;
}

.purchase_order_twin_grids {
	.puchase_order_grid{
	    position: relative;
	    height: 100%;
	    overflow: hidden;
	    /*z-index: 100;*/
	    background: #fff;
	    border-right: 1px solid #dcdcdc;
	}	

	.purchase_order_details_grid {
	    width:450px;
	    height: 100%;
	    position: relative;
	    /*z-index: 99;*/
	}

	.purchase_order_twin_header, .twin_header {
	    background: #28496B;
	    color: white;
	    padding: 5px 10px;
	    font-size: 15px;
	    font-family: Tahoma
	}
}
