// Place all the styles related to the report_designer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$general-font-size: 14px;

input.designer-report-name {
	border: 0px ;
	border-bottom: 1px solid #ccc ;
	margin-bottom: 0px ;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) ;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) ;
	border-radius: 0px;
	-webkit-border-radius: 0px ;
	width: 500px;

}

.report-designer{
	.top{
		// max-height: 250px;
	}

	.middle {

	}

	.bottom {

	}
	
	.body	{
		overflow: auto;
		height: 200px;
		.table {
		// height: 250px;
	  // overflow: auto;
			margin-bottom: 0px;
			th, td {
				line-height: 9px;
				font-size: $general-font-size - 2;
				input[type="checkbox"] {
					margin: 0px;
				}
			}	
		}
	}
	
	.breadcrumb {
			padding: 0px;
			margin: 0px;
	}	

	.fields_table {
		td {
			.controls {
				display: none
			}
			
			select, input[type="text"] {
				font-size: 12px;
			}

			select {
				height: 22px;
			}	

			input[type="text"] {
				height: 20px;
				padding:0px 6px;
			}

			.input-mini {
				width: 65px;
			}
		}

		td:hover {
			.controls {
				display: block;
			}
		}
		
	}
	
	.form-horizontal {
		.control-group {
			margin-bottom: 0px;
			margin-top: 5px;
			margin-left: 2%;
		}
		
		label {
			width: inherit;
			padding-right: 15px;
		}
	}
}