// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.twin_header {
    background: #777;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    font-family: Tahoma
}

.sales_tool_bar{
	height: 45px;
}

.sales_tool_bar .sales_buttons{
	width: 200px;
	position: relative;
	display: inline-block;
}

.sales_view .items_to_sell{
    margin-top: 8px;
    margin-left: 5px;
}
.sales_point .qty_box {
    height: 25px;
}

.sales_point .unit_cost , .sales_point .small_box{
    width : 68px;
}

.badge {
    font-weight: normal;
}

.sales_point .sales_form {
    padding: 5px 35px;
}

.sales_point .amount_box {
    background: #5bb75b;
}

.sales_point .amount_box .totalAmount{
    padding: 20px ;
    color: black;
    font-size: 30px;
    font-family: Arial;
    /*font-weight: bold;*/
    border-bottom: 1px solid #667;
}

.sales_point .ax_sale_panel {
    width: 38%;
    height: 100%;
    position: relative;
}

.sales_point .ax_sales_item_panel {
    width: 61.7%;
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid #dcdcdc;
}

.sales_point .sale_button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.sales_grid .search_form label, .ax_grid .search_form label{
    display: inline;
}