<form class="form-vertical product_form" ng-submit="save">
        <div class="control-group">
          <label class="control-label" for="name">Name:</label>
          <div class="controls">
            <input type="text" id="name" placeholder="Name" class='long' ng-model="newProduct.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">Description:</label>
          <div class="controls">
            <input type="text" id="description" placeholder="Description" class='long' ng-model="newProduct.description">
          </div>
        </div>
         <div class="controls clear">
              <div class="pull-left plus10">
                <label>Selling Price:</label>
                <div>
                  <input type='number' min='0' class="input-large" ng-model="newProduct.selling_price">
                </div>
              </div>
              <div class="pull-left plus10">
                <label>Product Category:</label>
                <div>
                  <div class="input-prepend">
                    <span class="add-on">
                      <a href="" ng-click="getProductCategories()"> 
                        <i class="icon-refresh"></i>
                      </a>
                    </span>
                    <ax-select 
                      prop="id" 
                      create="true"
                      model="ProductCategory"
                      ng-model="newProduct.product_category_id" 
                      watch="productCategories">
                      <select 
                        class="input-large"
                        ng-options="productCategory.id as productCategory.name for productCategory in productCategories" 
                        ng-model="newProduct.product_category_id">
                      </select>
                  </ax-select>
                  </div>
                  
                  
                </div>
              </div>
             
              <div class="pull-left ">
                  <label>Quantity:</label>
                  <div>
                    <input type="number" min="0" ng-model='newProduct.quantity' class='input-small'>
                  </div>
              </div>

              <div class="pull-right">
                  <label>Re-Order Qty:</label>
                  <div>
                    <input type="number" min="0" ng-model='newProduct.reorder_quantity' class='input-small product_code'>
                  </div>
              </div>
          </div>
         
          <input type="hidden" ng-model="newProduct.id">
  </form>