<div class="page-top clearfix">
	<h1 class="pull-left">
		<%= render "icon" %>
		Products
	 </h1>
	<a class='pull-right btn' href="#/products/new"> 
		<i class="icon icon-plus"></i> Add New
	</a>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Name</th>
			<th>Product Category</th>
			<th>Qty in Stock</th>
			<th>Re-order Qty</th>
			<th>Selling Price</th>
			<th class='ax-grid-action-2'></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td> {{ $index + 1 }}.</td>
			<td> {{ product.name }} </td>
			<td> {{ product.product_category.name }} </td>
			<td> {{ product.quantity }} </td>
			<td> {{ product.reorder_quantity }} </td>
			<td> {{ product.selling_price }} </td>
			<td>
				<a href="#/products/{{product.id}}/edit"> <i class="icon icon-pencil"></i></a>
				<a href="" ng-click="destroy()"> <i class="icon icon-trash"></i></a>
			</td>
		</tr>
	</tbody>
</table>
