<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		<span class="muted">Products/</span> New
	</h1>
	<div class="pull-right">
		<a href="#/products" class='btn'>List</a>
		<a class='btn btn-success' href="" ng-click="save()">Save</a>
	</div>
</div>

<div class="row-fluid">
	<%= render "form" %>
</div>
<div class="row-fluid ">
	<div class="form-footer clearfix">
		<button class="btn pull-left">
        Cancel</button>
      <button href="" class="btn btn-success" ng-click="save()">Save</button>
      
    </div>
</div>