<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		Sales</h1>
	<a class='pull-right btn' href="#/sales/new">Add New</a>
</div>

<table class="table table-bordered table-striped ax-table">
	<thead>
		<tr>
			<th class='ax-grid-action-1'></th>
			<th>Sale Date</th>
			<th>Sale Number</th>
			<th>Number Of Items</th>
			<th>Cost</th>
			<th>Amount Paid</th>
			<th>Change</th>
			<th>Customer</th>
			<th>Sales Person</th>
			<th class="ax-grid-action2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sale in sales">
			<td> {{ $index + 1 }}. </td>
			<td> {{ sale.created_at |date:'medium'}} </td>
			<td> {{ sale.sale_number }} </td>
			<td> {{ sale.sale_items.length }} </td>
			<td> {{ sale.total_amount |currency}} </td>
			<td> {{ sale.amount_collected | currency}} </td>
			<td> {{ sale.change | currency}} </td>
			<td> {{ sale.customer }} </td>
			<td> {{ sale.created_by.full_name }} </td>
			<td>
				<a href="#sales/{{sale.id}}/show"> <i class="icon icon-eye-open"></i></a>
				<a href="" ng-click="print(sale.id)"> <i class="icon icon-print"></i> </a>
			</td>
		</tr>
	</tbody>
</table>
