<div ng-controller="SalesController" >
	<div class="page-top clearfix">
		<h1 class="pull-left"> 
			<%= render "icon" %>
			<span class="muted">Sales/</span> New
		</h1>
		<div class="pull-right">
			<a href="#/sales" class='btn'>Back</a>
			<a class="btn" ng-click="showMessage()" data-toggle="modal" href=""> 
			    <i class="icon icon-eye-open">  </i>
			              View Todays Sales
			</a>
			<a class='btn btn-success' href="" ng-click="makeSale()">Make Sale</a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<pane title='POS'>
			 <div id="sales_and_purchases_point_of_sale_tab">
			  
			    <div class='span12 ax_grid sales_view'>
			      <div class="sales_tool_bar">
			       	<ax-select ng-model="selectedItem.product" watch="itemsToSell">
							<select id="product" ng-model="selectedItem.product"  name="product" class="input-xlarge"
							ng-options='product as product.name for product in itemsToSell'>
							</select>
						</ax-select>
			            <div class="btn-group sales_buttons">
			              <button class="btn btn-info" ng-click="addToSale()" > <i class="icon-white icon-plus"></i> Add Product</button>
			              <button class='btn btn-info' ng-click="getItems()"> <i class='icon-white icon-repeat'></i> </button>
			            </div>
			      </div>
			      <div class="clear twin_grids sales_point" >
			        <div class="pull-right ax_sale_panel">
			          
			          <div class="twin_header"> Summary </div>
			          <div class="amount_box">
			            <div class="totalAmount">
			              <span> Total :  {{ newSale.total_amount | currency :"(GHc) " }}</span>
			            </div>
			          </div>
			          <div class="sales_form">
			            <form class="form-vertical">
			                <div>
			                  <label class="checkbox">
			                    <input type="checkbox" ng-model="printReceipt"> Print Receipt
			                  </label>
			                </div>
			                <div class="control-group">
			                    <label class="control-label" for="name">Customer Name:</label>
			                    <div class="controls">
			                      <input type="text" id="name" placeholder="Customer Name" class='input-xlarge' ng-model="newSale.customer">
			                    </div>
			                </div>
			                <div class="control-group">
			                    <label class="control-label" for="name">Discount:</label>
			                    <div class="controls">
			                      <input type="number" id="discount" min="0" class='input-xlarge' ng-model="newSale.discount">
			                    </div>
			                </div>
			                <div class="control-group">
			                    <label class="control-label" for="name">Total Amount:</label>
			                    <div class="controls">
			                      <input type="text" id="totalAmount" min="0" class='input-xlarge' ng-model="newSale.total_amount" disabled>
			                    </div>
			                </div>
			                <div class="control-group">
			                    <label class="control-label" for="name">Amount Collected:</label>
			                    <div class="controls">
			                      <input type="number" id="amountPaid" min="0" class='input-xlarge' ng-model="newSale.amount_collected">
			                    </div>
			                </div>
			                <div class="control-group">
			                    <label class="control-label" for="name">Change:</label>
			                    <div class="controls">
			                      <input type="text" id="change" min="0" class='input-xlarge' ng-model="newSale.change" disabled>
			                    </div>
			                </div>
			            </form>
			          </div>
			        </div>
			        <div class="ax_sales_item_panel pull-left">
			          
			          <div class="twin_header"> Sale Items </div>
			          <table class="table table-bordered table-striped ax-table">
			            <thead>
			              <tr>
			                <th class="ax_grid_action1"></th>
			                <th>Product</th>
			                <th class="small_box">In Stock </th>
			                <th class="small_box">Quantity </th>
			                <th class="unit_cost">Unit Cost</th>
			                <th class="small_box"> Total Cost</th>
			                <th class="ax_grid_action1"></th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="p in itemsPurchased">
			                <td> {{ $index+ 1}} </td>
			                <td> {{p.name}} </td>
			                <td> {{ p.quantity_left = p.quantity_remaining - p.quantity}} </td>
			                <td> 
			                  <input class="input-mini qty_box" type="number" min="1" ng-model="p.quantity" ng-change="itemsChanged()">
			                </td>
			                <td> <span class="badge badge-info"> {{ p.selling_price }} </span>  </td>
			                <td> 
			                	<span class="badge badge-success"> 
			                		{{ p.line_total = p.selling_price * p.quantity | currency:"" }} </span> 
			                </td>
			                <td> <a href="" ng-click="removeItemFromSale($index)"> <i class="icon icon-remove"> </i> </a> </td>
			              </tr>
			            </tbody>
			          </table>
			        </div>    
			      </div>
			    </div>
			 </div>
			</pane>
		</div>
	</div>
</div>