<div ng-controller="SalesController" >
	<div class="page-top clearfix">
		<h1 class="pull-left"> 
			<%= render "sales/icon" %>
			<span class="muted">Sales/</span> {{sale.sale_number}}
		</h1>
		<div class="pull-right">
			<a href="#/sales" class='btn'>  List</a>
			<a href="#/sales/{{sale.id}}/edit" class='btn'> <i class="icon icon-pencil"></i> Edit</a>
		</div>
	</div>
	<div class="row-fluid print-block">
		<div class="span12">
			<a href="" ng-click="print(sale.id)" class="pull-right"> <i class="icon icon-print"></i></a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				<h4>Details</h4>

			<table class="table table-bordered ax_table">
				<tbody>
					<tr>
						<td> Sale Date </td>
						<td> {{ sale.created_at |date:'medium'}} </td>
					</tr>
					<tr>
						<td> Sale Number</td>
						<td> {{ sale.sale_number }} </td>
					</tr>
					<tr>
						<td> Customer Name </td>
						<td> {{ sale.customer }} </td>
					</tr>
					<tr>
						<td> Sales Person </td>
						<td> {{ sale.created_by.full_name }} </td>
					</tr>
					<tr>
						<td> Number of Items </td>
						<td> {{ sale.sale_items.length }} </td>
					</tr>
					<tr>
						<td> Total Amount </td>
						<td> {{ sale.total_amount |currency}} </td>
					</tr>
					<tr>
						<td> Amount Collected </td>
						<td> {{ sale.amount_collected | currency}} </td>
					</tr>
					<tr>
						<td> Change </td>
						<td> {{ sale.change | currency}} </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6">
			<h4 class="muted">Sales Items</h4>
			<table class="table table-bordered table-striped ax-table">
				<thead>
					<tr>
						<th></th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Unit cost </th>
						<th>Total cost </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in sale.sale_items">
						<td> {{ $index + 1 }}. </td>
						<td> {{ item.product.name }} </td>
						<td> {{ item.quantity }} </td>
						<td> {{ item.selling_price | currency }} </td>
						<td> {{ item.line_total | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>