<div class="widget-box">
	<div class="header">
		<span class="title">Filters</span>
	</div>
	<div class="body">
		<table class='table table-striped fields_table'>
			<thead>
				<th>Field</th>
				<th>Comparator</th>
				<th>Value</th>
				<th class='ax-grid-action-1'></th>
				<th class="ax-grid-action-2"></th>
			</thead>
			<tbody>
				<tr ng-repeat="filterField in filterFields">
					<td> {{ filterField.field }} </td>
					<td> 
						<select 
							class="input-small"
							ng-model="filterField.filterType"
							ng-options="filterType as filterType for filterType in filterTypes">
						</select>
					</td>
					<td> 
						<input type="text" class="input-medium" ng-model="filterField.value" /> 
					</td>
					<td>
						<input type="checkbox" ng-model="filterField.checked" />
					</td>
					<td>
						<div class="controls">
								<a href="" ng-click="moveUp($index)"> <i class="icon-chevron-up"></i> </a>
								<a href="" ng-click="moveDown($index)"> <i class="icon-chevron-down"></i> </a>
								<!-- <a href=""> <i class="icon-remove"></i> </a> -->
							</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>