<div>
	<div class="pull-left">
		<div class="btn-group">
			<button class="btn btn-primary" ng-click="newReport()"> 
				<i class="icon-white icon-plus"></i> New Report
			</button>
			<button class="btn btn-primary" ng-click="saveReport()">
				<i class="icon-white  icon-folder-close"></i>Save Report
			</button>	
			<button class="btn btn-primary" ng-click="openReport()">
				<i class="icon-white icon-folder-open"></i> Open Report
			</button>
		</div>
	</div>

	<div class="pull-left">
		<div class="btn-group" style="margin-left:40px">
			<button class="btn btn-danger" ng-click="clearAllFields()">
				<i class="icon-white icon-remove"></i>
			</button>
			<button class="btn btn-success" ng-click="executeQuery()">
				<i class="icon-white icon-play"></i>
			</button>
		</div>
	</div>	

	<div class="pull-left">
		<div class="btn-group" style="margin-left:40px">
			<button class="btn btn-primary" ng-click="showProps = true">
				<i class="icon-white icon-leaf"></i>
			</button>
			<button class="btn btn-primary" ng-click="showProps = false">
				<i class="icon-white icon-asterisk"></i>
			</button>
			<button class="btn btn-primary" ng-click="openSettings()">
				<i class="icon-white icon-wrench"></i>
			</button>
		</div>
	</div>	

	<div class="pull-left">
		<span class="ax-loader" visible="runningQuery" text=""></span>
	</div>
</div>
