<ax-dialog 
	title="Create Report"
	visible="show_create_report"
	on-cancel="cancelDialog()"
	ok-label="Create Report"
  on-ok="processCreateReport()"
	>
  <form class="form-horizontal">
  	<div class="control-group">
    <label class="control-label">Report Name: </label>
    <div class="controls">
      <input type="text" class="span9" ng-model="report.name">
    </div>
  </div>
  </form>
</ax-dialog>


<ax-dialog 
  title="Open Report"
  visible="show_open_report"
  on-cancel="cancelDialog()"
  ok-label="Open Report"
  on-ok="processOpenReport()"
  >
  <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" >Report Name: </label>
    <div class="controls">
        <select 
          class="span9"
          ng-options="_report as _report.name for _report in reports"
          ng-model="reportToOpen.val">

        </select>
    </div>
  </div>
  </form>
</ax-dialog>