<div class="widget-box">
	<div class="header">
		<span class="title">
			<ul class="breadcrumb" >
  			<li ng-repeat="chainItem in reportModelChains"> 
  				<a href="" ng-click="showFields(chainItem)">{{ chainItem.name }}</a> 
  				<span class="divider">/</span>
  			</li>
			</ul>
		</span>
	</div>
	<div class="body">
		<table class="table" ng-show="showProps">	
			<tbody>
				<tr ng-repeat="field in selectedModel.fields">
					<td> {{ field.name }} </td>
					<td class="ax-grid-action-1"> 
						<input 
							type="checkbox" 
							ng-checked="field.checked"
							ng-model="field.checked"
							ng-click="toggleInReportFields(field)"
						></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-striped" ng-hide="showProps">
			<tbody>
				<tr ng-repeat="assoc in selectedModel.associations">
					<td> 
						<a href="" ng-click="showAssocModelFields(assoc)"> 
							{{ assoc.name }} 
						</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>