<div class="widget-box">
	<div class="header">
		<span class="title">Groups</span>
	</div>
	<div class="body">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="gField in groupFields">
					<td>({{ gField.model}}) - {{ gField.field }} </td>
					<td class="ax-grid-action-1">
						<input type="checkbox" ng-model="gField.checked"> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
			