<div class="widget-box">
	<div class="header">
		<span class="title">Models</span>
	</div>
	<div class="body">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="model in models">
					<td> 
						<a href="" ng-click="showFields(model)"> {{ model.name }} </a> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>