<div class="widget-box">
	<div class="header">
		<span class="title">Orders</span>
	</div>
	<div class="body">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="oField in orderFields">
					<td> ({{ gField.model}}) - {{ oField.field }} </td>
					<td class="ax-grid-action-1">
						<input type="checkbox" ng-model="oField.checked"> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>