<div class="widget-box">
	<div class="header">
		<span class="title">Report Fields</span>
	</div>
	<div class="body">
		<table class="table table-striped fields_table">
			<thead>
				<tr>
					<th class="ax-grid-action-1"> 
						<i class="icon icon-eye-open"></i>
					</th>
					<th>Field</th>
					<th>Func/Agg</th>
					<th>Alias</th>
					<th>Model</th>
					<th>G?</th>
					<th>O?</th>
					<th>F?</th>
					<th class="ax-grid-action-3"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in reportFields">
					<td> 
						<input type="checkbox" ng-model="item.display" ng-click="toggleFieldInOutputView(item)">
					</td>
					<td> {{ item.field }} </td>
					<td>
						<select
							class="input-mini"
							ng-change="aggregateChanged()" 
							ng-options="fnType as fnType for fnType in appropriateFunctions(item.type)"
							ng-model="item.aggregate">
						</select>
					</td>
					<td>
						<input type="text" class="input-small" ng-model="item.alias">
					</td>
					<td> {{ item.model }} </td>
					<td>
						<input type="checkbox" ng-click="toggleInGroups(item)">
					</td>
					<td>
						<input type="checkbox" ng-click="toggleInOrders(item)">
					</td>
					<td>
						<input type="checkbox" ng-click="toggleInWheres(item)">
					</td>
					
					<td>
						<div class="controls">
							<a href="" ng-click="moveRfUp($index)"> <i class="icon-chevron-up"></i> </a>
							<a href="" ng-click="moveRfDown($index)"> <i class="icon-chevron-down"></i> </a>
							<!-- <a href=""> <i class="icon-remove"></i> </a> -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>