<div class="page-top clearfix">
	<h1 class="pull-left"> 
		<%= render "icon" %>
		Report Designer -
		<input type="text" class="designer-report-name" ng-model="report.name"> </h1>	

</div>

<%= render "dialogs" %>
<div class='report-designer'>
	<div class="row-fluid top">
		<%= render "controls" %>
	</div>
	<br>
	<div class="row-fluid middle">
		<tabs>
			<pane title="Parameters"> 
				<div class="span3">
					<%= render "models"	%>
				</div>
				<div class="span3">
					<%= render "fields" %>
				</div>
				<div class="span6">
					<%= render "report_fields" %>
				</div>
			</pane>	
			<pane title="Query Modifiers">
				<div class="span6">
					<%= render "conditions" %>
				</div>
				<div class="span3">
					<%=  render "groups" %>
				</div>
				<div class="span3">
					<%=  render "orders" %>
				</div>
			</pane>			
		</tabs>
	</div>
	

	<div class="row-fluid bottom">
		<tabs>
			<pane title="Output" visible="showOutput">
				<%= render "output" %>
			</pane>
			<pane title="Generated Query" visible="showQuery">
				<%= render "query" %>
			</pane>
		</tabs>
		
	</div>
</div>