<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Pos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
  <style type="text/css">
	body {
	  	background-color: #EBEBEB;
	}

	.form, .logo {
		max-width: 300px;
		padding: 19px 29px 29px;
		margin: 0 auto 20px;
	}
  
  .form {
		
		background-color: #FFF;
		border: 1px solid #E5E5E5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	}
  </style>
</head>
<body>
	<div class="container">
		<div class="logo">
			<h1>Retail Shop</h1>
		</div>
		<div class="form">
			<%= yield %>	
		</div>
	</div>
	
</body>
</html>

