<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Pos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MasterController">
	<div class="navbar navbar-fixed-top">
	  	<div class="navbar-inner">
	    	<div class="container-fluid">
      		<a class="brand" href="/">RETAIL SHOP</a>
      		<ul class="nav" ng-repeat="nav in navigations">
      			<li class="{{nav.value.class}}">
      				<a href="{{nav.value.link}}"> {{nav.value.text}} </a>
      			</li>
      		</ul>
      		<% if user_signed_in? %>
      			<ul class="nav pull-right">
	            <li class="dropdown">
                <a class="dropdown-toggle user" data-toggle="dropdown" href="#">
                  Welcome <span class="username"> 
                  <%= current_user.full_name %> </span>
                <b class="caret"></b>
                </a>
               	<ul class="dropdown-menu">
                   	<li> 
                   		<a href="#"> 
                   			<i class="icon-wrench"></i> Profile &amp; Settings
                   		</a>
                   	</li>
                   	<li class="divider"></li>
                   	<li>
                    	<a href="/logout"> 
                    		<i class="icon-off"></i> Sign out
                    	</a> 
                    </li>
                </ul>
              </li>
	          </ul>
      		<% end %>
	    	</div>
		</div>
	</div>
	<div class="page">
		<div class="row-fluid">
			<div class="span3 side-container">
				<%= render "reuseables/sidebar" %>
			</div>
			<div class="span9 main">
        <div class="row-fluid">
          <ax-msg></ax-msg>
          <ng-view></ng-view>
        </div>
        
			</div>
		</div>
	    <%= render "reuseables/generic_lookup_container" %>
  </div>
</body>
</html>
