<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Pos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .page-top {
      display: none;
    }

    .print-block {
      display:  none;
    }
  </style>
</head>
<body>
	<div class="container">	
		<div class="row">
			<div class="span12">
				<ng-view></ng-view>
			</div>
		</div>
	</div>
	
</body>
</html>
